@using Microsoft.AspNetCore.Mvc.Localization
@using BookManagement.Localization
@inject IHtmlLocalizer<BookManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
